@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
  
@keyframes float2 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}
  
@keyframes float3 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
}
  
@layer utilities {
    .animate-float {
      animation: float 3s ease-in-out infinite;
    }
    .animate-float2 {
      animation: float2 3.5s ease-in-out infinite;
    }
    .animate-float3 {
      animation: float3 4s ease-in-out infinite;
    }
    .animate-spin-slow {
      animation: spin 6s linear infinite;
    }
}